body{
  background-color: #e9e9e9;;
}
.header{
  max-width: 100%;
  /* background-color: gray; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
  font-size: 8pt;
  color: #1a70b9;
  font-weight: bold;
}
.logo{
  width: 170px;
  height: 50px;
  margin-right: 150px;
}
.header-icons-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 350px;
  justify-content: space-evenly;
}
.phone-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 150px;
  justify-content: space-evenly;
}
.phone-icon{
  width: 20px;
  height: 20px;
}
.messege-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 175px;
  justify-content: space-between;

}
.messege-icon{
  width: 20px;
  height: 20px;
  padding-left: 12px;

}
.nav{
  max-width: 100%;
  background-color: #3399cc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 10pt;
  color: #FFF;
  font-weight: 500;
}
.menu-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 525px;
}
.search-bar{
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 360px;

  
}
.search{
  border: #fff solid 1px;
  background: none;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  width: 150px;
  padding: 5px 15px;
}
input::placeholder{
  color: #FFF;
  font-size: 10pt;
}
input:focus, textarea:focus, select:focus{
  outline: none;
}
.change-menu-button-color:hover{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #33cc99;
  box-shadow: 4px 5px;
  height: 45px;
  width: 70px;
  box-sizing: content-box;
  margin-bottom: 4.3px;
}

.kls{
  display: inline;
}