body{
  background-color: #e9e9e9;;
}
.header{
  max-width: 100%;
  /* background-color: gray; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
  font-size: 8pt;
  color: #1a70b9;
  font-weight: bold;
}
.logo{
  width: 170px;
  height: 50px;
  margin-right: 150px;
}
.header-icons-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 350px;
  justify-content: space-evenly;
}
.phone-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 150px;
  justify-content: space-evenly;
}
.phone-icon{
  width: 20px;
  height: 20px;
}
.messege-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 175px;
  justify-content: space-between;

}
.messege-icon{
  width: 20px;
  height: 20px;
  padding-left: 12px;

}
.nav{
  max-width: 100%;
  background-color: #3399cc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 10pt;
  color: #FFF;
  font-weight: 500;
}
.menu-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 525px;
}
.search-bar{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 360px;

  
}
.search{
  border: #fff solid 1px;
  background: none;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  width: 150px;
  padding: 5px 15px;
}
input::placeholder{
  color: #FFF;
  font-size: 10pt;
}
input:focus, textarea:focus, select:focus{
  outline: none;
}
.change-menu-button-color:hover{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #33cc99;
  box-shadow: 4px 5px;
  height: 45px;
  width: 70px;
  box-sizing: content-box;
  margin-bottom: 4.3px;
}

.first-section {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 600px;
  color: #0066cc;
  padding-top: 30px;
  
} 
.all-carts{
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 900px;
}
.first-cart,.second-cart,.third-cart{
  display: flex;
  height: 250px;
  flex-direction: column;
  width: 700px;
  color: #FFF;
  justify-content: space-evenly;
  align-items: center;
}
.first-cart{
  background-color:#2895f0;
  padding: 25px 25px;
}
.second-cart{
  background-color:#0071d0;
  padding: 35px 35px;
  margin-top: 20px;
}
.third-cart{
  background-color:#0060b1;
  padding: 25px 25px;

}
.car-icon .time-icon .clinic-icon{
  width: 30px;
  height: 30px;
}

.cart-title{
  color: #0059ae;
  line-height: 0.1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  font-size: 30px;
}

.component-card-title{
  font-size: 15pt;

}
.second-section{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 500px;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.service-img {
  width: 400px;
  height: 250px;
  margin-left: 25px;
}
.info-bar {
   display: flex;
   flex-direction: column;
   width: 450px;
   justify-content: space-around;
   height: 100px;
   margin-right: 25px;
   margin-top: 100px;
}
.info-bar-button {
    background: #2895f0;
    color: white;
    width: 110px;
    height: 17px;
    padding: 10px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 25px;
}
.info-bar-main-title{
  color: #2895f0;
  line-height: 0.0;
}
.info-bar-main-title h1{
color: black;
}
.doc-chapter{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  justify-content: flex-start;
  align-items: center;
  padding-top: 65px;
}
.doc-chapter-rectangle{
  width: 100px;
  height: 30px;
  background-color: #0060b1;
  margin-right: 15px;
}
.doc-chapter-title{
  font-size: 16pt;
  color: #0060b1;
  font-weight: 500;
}
.third-section{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 500px;
  justify-content: center;
  align-items: center;
}
.doc-img {
  width: 380px;
  height: 300px;
  margin-right: 35px;
}
.doc-info-bar {
   display: flex;
   flex-direction: column;
   width: 450px;
   justify-content: space-around;
   height: 100px;
   margin-left: 35px;
}
.info-bar-button {
    background: #2895f0;
    color: #FFF;
    width: 110px;
    height: 17px;
    padding: 10px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 25px;
}
.doc-info-bar-main-title h1{
color: #0060b1;
}



